* {
  font-family: Roboto, "Open Sans", sans-serif;
}

/* navbar */
.logo {
  font-family: sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 800;
}
.logo:hover {
  color: gold;
  text-decoration: none;
}
.nav-link {
  text-transform: uppercase;
  margin-right: 20px;
  font-family: sans-serif;
  font-weight: 900;
}
.item-home:hover::after,
.item-feature:hover::after,
.item-about:hover::after,
.item-contact:hover::after {
  content: "";
  border-bottom: 3px solid gold;
  width: 30px;
  padding-bottom: 5px;
  position: fixed;
}
.item-home:hover::after {
  margin-left: 19px;
}
.item-feature:hover::after,
.item-contact:hover::after {
  margin-left: 31px;
}
.item-about:hover::after {
  margin-left: 22px;
}

/* slider */
.text {
  text-align: left;
  font-family: "Segoe UI", sans-serif;
  font-weight: 900;
  font-size: 60px;
}
